#quickview-bg-block {
    background-color : rgba(0,0,0,.9);
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4221;
}
.quickview-load-img {
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 9999;
}
.a-qv-close {
    background: #fff;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #999;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    width: 30px;
    z-index: 10001;
}
.a-qv-close:before {
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 14px;
}
.a-qv-close:hover {
    border: 1px solid #ba9f74;
    color: #ba9f74;
}
.qv-button-container {
    position: relative;
}
#quickview-content .alert {
    margin: 20px 0;
}
#quickview-content {
    background-color: #fff;
    display: none;
    height: 86%;
    left: 50%;
    max-width: 90%;
    overflow: auto;
    padding: 20px;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 870px;
    z-index: 5124;
}
#product2 + div {
    margin-top: 40px;
}
/* PRODUCT QUICKVIEW
-----------------------------*/
.product-quickview-image  a.thumbnail {
    border: 1px solid #ebebeb;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.product-quickview-image  a.thumbnail.current-additional,
.product-quickview-image  a.thumbnail:hover {
    border: 1px solid #ba9f74;
}
.thumbnails-additional {
    margin-top: 25px;
}
.thumbnails-additional.owl-carousel .owl-nav > .owl-next,
.thumbnails-additional.owl-carousel .owl-nav > .owl-prev {
    background: #f7f7f9;
    border: 2px solid #e1e1e1;
    border-radius: 100%;
    color: #9e9e9e;
    height: 30px;
    line-height: 24px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
}
.thumbnails-additional .owl-nav > div i {
    font-size: 14px;
    line-height: 24px;
}
.thumbnails-additional.owl-theme .owl-nav > .owl-next:hover, 
.thumbnails-additional.owl-theme .owl-nav > .owl-prev:hover {
    background: #ba9f74;
    border-color: #ba9f74;
    color: #fff;
}
.product-quickview-info .product-name {
    color: #2e2e2e;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}
.product-quickview-info .product-rating-review {
    line-height: 30px;
    margin: 0 0 20px 0;
}
.product-quickview-info .product-rating-review:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .product-rating-review .ratings {
    float: left;
}
.product-quickview-info .product-rating-review .review {
    float: left;
    margin-left: 40px;
}
.product-quickview-info .product-rating-review .review a {
    color: #adadad;
}
.product-quickview-info .product-rating-review .review a:hover {
    color: #ba9f74;
}
.product-quickview-info .price-wrapper {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}
.product-quickview-info .price-wrapper ul {
    padding: 0 0 0 20px;
}
.product-quickview-info .price-wrapper ul li {
    margin: 0 0 5px 0;
}
.product-quickview-info .price {
    color: #ba9f74;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 25px 0;
}
.product-quickview-info .price:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .price span {
    float: none;
}
.product-quickview-info .price span.price-new {
    float: left;
    margin-right: 5px;
}
.product-quickview-info .price span.price-old {
    color: #999;
    font-size: .867em;
    font-weight: normal;
    margin-left: 5px;
    text-decoration: line-through;
}
.product-quickview-info .product-extra {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    padding-left: 20px;
}
.product-quickview-info .product-extra li {
    margin: 0 0 5px 0;
}
.product-quickview-info .option-container {
    margin: 0 0 50px 0;
}
.product-quickview-info .option-container .form-group {
    margin: 0 0 20px 0; /* override */
}
.product-quickview-info .option-container label {
    font-size: 1em; /* override */
}
.product-quickview-info .option-container .radio {
    margin: 0 0 5px 0; /* override */
}
.product-quickview-info .option-container .checkbox {
    margin: 0 0 5px 0; /* override */
}
.product-quickview-info .product-button-group {
    margin: 0 0 30px 0;
}
.product-quickview-info .product-button-group:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .add-to-cart-group {
    float: left;
}
.product-quickview-info .add-to-cart-group:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .quantity-box {
    float: left;
    margin: 0 20px 20px 0;
}
.product-quickview-info .quantity-box:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .quantity-box .quantity-text {
    color: #292929;
    float: left;
    font-size: 14px; /* override */
    font-weight: 600;
    line-height: 1;
    margin: 0 30px 0 0;
    padding: 20px 0;
}
.product-quickview-info .quantity-box #input-quantity {
    background: #fff; /* override */
    border: 1px solid #ebebeb;
    -webkit-border-radius: 0; /* override */
            border-radius: 0; /* override */
    -webkit-box-shadow: none; /* override */
            box-shadow: none; /* override */
    color: #292929;
    float: left;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 55px;
    line-height: 53px;
    outline: none; /* override */
    text-align: center;
    width: 60px;
}
.product-quickview-info .quantity-box .quantity-button {
    float: left;
    height: 55px;
}
.product-quickview-info .quantity-box .quantity-button input {
    background: none; /* override */
    border: 1px solid #ebebeb;
    border-left: none;
    box-shadow: none; /* override */
    display: block;
    height: 50%;
    outline: none; /* override */
    padding: 0;
    width: 20px;
}
.product-quickview-info .quantity-box .quantity-button input:last-child {
    border-top: none;
}
.product-quickview-info .btn-actions {
    float: left;
    padding: 6px 0 7px 0;
}
.product-quickview-info #button-cart {
    background: #343434;
    border: none;
    -webkit-border-radius: 50px;
            border-radius: 0;
            border-radius: 50px;
    color: #fff;
    float: left;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    margin: 0 55px 20px 0;
    margin-top: 6px;
    padding: 0 25px;
    text-transform: uppercase;
}
.product-quickview-info  #button-cart:hover {
    background: #ba9f74;
}
.product-quickview-info .btn-actions .btn-group {
    float: left;
}
.product-quickview-info .btn-actions .btn-group:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.product-quickview-info .btn-wishlist,
.product-quickview-info .btn-compare {
    background: none; /* override */
    border: none; /* override */
    color: #898989;
    display: block;
    float: left;
    height: 42px;
    line-height: 42px;
    margin: 0 30px 20px 0;
}
.product-quickview-info .btn-actions .btn-group button:last-of-type {
    /*not last-child because of tooltip*/
    margin-right: 0;
}
.product-quickview-info .btn-actions .btn-group button:hover {
    color: #ba9f74;
}
.product-quickview-info .btn-wishlist:before,
.product-quickview-info .btn-compare:before {
    display: inline-block;
    font-family: 'Stroke-Gap-Icons';
    font-size: 16px;
    margin-right: 9px;
    margin-top: -2px;
    vertical-align: middle;
}
.product-quickview-info .btn-wishlist:before {
    content: '\e67e';
}
.product-quickview-info .btn-compare:before {
    content: '\e6a9';
}
