<footer id="footer">changed by <a href="https://madehtml5.github.io/" target="_blank" style="color:#ff7361">made <i class="fa fa-html5" font-size:1.25em" aria-hidden="true"></i> me</a><br/>{{ text_version }}</footer></div>
</body></html>
