/* GENERAL
-----------------------------*/
.layernavigation-module {
    border: 1px solid #ebebeb;
    border-top: none;
    padding-bottom: 40px;
}
.layered-navigation-block {
    background-color : black;
    display: none;
    height : 100%;
    left: 0;
    opacity : .35;
    position : fixed;
    top : 0;
    width : 100%;
    z-index : 900;
}
.ajax-loader {
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 1000;
}
.layered-heading {
    display: none;
}
.layer-category .list-group-item {
    background: #fff; /* override */
    border: none; /* override */
    padding: 0; /* override */
}
/* REMOVE ATTRIBUTE
-----------------------------*/
.module-remove-attribute {
    padding: 0 20px;
}
.module-remove-attribute .filter-act-name {
    line-height: 25px;
}
.module-remove-attribute .remove-filter {
    color: #999;
    font-size: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.module-remove-attribute .remove-filter:before {
    content: '\f00d';
    display: inline;
    font-family: FontAwesome;
    font-size: 11px;
    font-weight: 300;
    padding: 5px;
    vertical-align: top;
}
.module-remove-attribute .remove-filter:hover {
    color: #222e3c;
}
.module-remove-attribute .filter-clear-all {
    margin-bottom: 35px;
    text-align: right;
}
.module-remove-attribute.filter-price .list-group-item {
    padding: 0 12px;
}
.module-remove-attribute .list-group-item {
    background: none; /* override */
    border: none; /* override */
    margin: 0 0 25px 0;
    padding: 0; /* override */
    position: relative; /* override */
}
.module-remove-attribute .list-group-item p {
    margin: 0;
}
/* FILTER PRICE
-----------------------------*/
.module-filter-price {
    background: #f1f2f4;
    padding: 40px 20px;
}
.module-filter-price .list-group-item {
    background: none;
    margin: 0; /* override */
}
.module-filter-price .ui-slider {
    background: #dbdbdb; /* override */
    border: none; /* override */
    -webkit-border-radius: 0; /* override */
            border-radius: 0; /* override */
    height: 5px;
}
.module-filter-price .ui-slider .ui-slider-range {
    background: #222e3c;
    height: 100%;
    width: 100%;
}
.module-filter-price .ui-slider .ui-slider-handle {
    background: #fff;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    height: 13px;
    margin: 0; /* override */
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 13px;
}
.module-filter-price .slider-value {
    color: #000;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px 0;
}
.module-filter-price .slider-value .input-price {
    background: none; /* override */
    border: none; /* override */
    max-width: 50px;/* fix ie */
    padding: 0; /* override */
}
.module-filter-price .slider-value .separator {
    margin: 0 10px 0 0;
}
/*MODULE FILTER ATTRIBUTE
-----------------------------*/
.layer-category .module-filter-attribute {
    padding: 0 20px;
}
.module-filter-attribute .a-filter {
    color: #898989;
    display: block;
    margin-bottom: 20px;
    padding-left: 32px;
    position: relative;
}
.module-filter-attribute .a-filter:hover {
    color: #222e3c;
}
.module-filter-attribute .a-filter:last-of-type {
    margin-bottom: 0;
}
.module-filter-attribute .a-filter:before {
    border: 1px solid #ebebeb;
    content: '';
    display: block;
    height: 18px;
    left: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    width: 18px;
}
.module-filter-attribute .a-filter:hover:before {
    border-color: #222e3c;
    color: #222e3c;
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 12px;
}