/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus {
    outline: none;
}
.oc-banner7-container .slidesc,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* FlexSlider Necessary Styles
*********************************/
.oc-nivoslider {
    /*overflow: hidden;*/
}
.nivoSlider {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivoSlider img.nivo-main-image {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 5;
}
.oc-banner7-container .flexslider {
    margin: 0;
    padding: 0;
}
.oc-banner7-container .flexslider .slidesc > li {
    display: none;
    position: relative;

    -webkit-backface-visibility: hidden;
}
/* Hide the slidesc before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slidesc img {
    display: block;
}
.oc-banner7-container .flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slidesc element */
.oc-banner7-container .slidesc:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .oc-banner7-container .slidesc {
    display: block;
}
* html .oc-banner7-container .slidesc {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slidesc > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {
    margin: 0 0 35px 0;
    position: relative;
    zoom: 1;
}
.oc-banner7-container .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
            transition: all 1s ease;
}
.oc-banner7-container .loading .flex-viewport {
    max-height: 300px;
}
.oc-banner7-container .flexslider .slidesc {
    zoom: 1;
}
.oc-banner7-container .carousel li {
    margin-right: 5px;
}
@-webkit-keyframes timeloading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes timeloading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.timeloading {
    animation: ease-in-out 0s normal none 1 running timeloading;
    background-color: rgba(0, 0, 0, .2);
    bottom: 0;
    display: none;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
}
/* CAPTION POSITION
-----------------------------*/
.nivoSlider {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nivo-caption.nivo-html-caption {
    display: none;
}
.nivo-caption {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
}
/* ANIMATION
-----------------------------*/
/* style1 */
.banner7-content.style-1 .text-content .banner7-desc > *:first-child {
    -webkit-animation: bounceInDown 1.5s ease-in-out;
       -moz-animation: bounceInDown 1.5s ease-in-out;
            animation: bounceInDown 1.5s ease-in-out;
}
.banner7-content.style-1 .text-content .banner7-desc > *:nth-child(2) {
    -webkit-animation: bounceInDown 2.1s ease-in-out;
       -moz-animation: bounceInDown 2.1s ease-in-out;
            animation: bounceInDown 2.1s ease-in-out;
}
.banner7-content.style-1 .text-content .banner7-desc > *:nth-child(3) {
    -webkit-animation: bounceInDown 3s ease-in-out;
       -moz-animation: bounceInDown 3s ease-in-out;
            animation: bounceInDown 3s ease-in-out;
}
.banner7-content.style-1 .text-content .banner7-desc > *:nth-child(4) {
    -webkit-animation: bounceInDown 3.6s ease-in-out;
       -moz-animation: bounceInDown 3.6s ease-in-out;
            animation: bounceInDown 3.6s ease-in-out;
}
.banner7-content.style-1 .text-content .banner7-desc > *:nth-child(5) {
    -webkit-animation: bounceInDown 4s ease-in-out;
       -moz-animation: bounceInDown 4s ease-in-out;
            animation: bounceInDown 4s ease-in-out;
}
.banner7-content.style-1 .text-content .banner7-desc > *:nth-child(6) {
    -webkit-animation: bounceInDown 4.5s ease-in-out;
       -moz-animation: bounceInDown 4.5s ease-in-out;
            animation: bounceInDown 4.5s ease-in-out;
}
/* style2 */
.banner7-content.style-2 .text-content .banner7-desc > *:first-child {
    -webkit-animation: bounceIn 2s linear alternate;
       -moz-animation: bounceIn 2s linear alternate;
            animation: bounceIn 2s linear alternate;
}
.banner7-content.style-2 .text-content .banner7-desc > *:nth-child(2) {
    -webkit-animation: bounceIn 2.25s linear alternate;
       -moz-animation: bounceIn 2.25s linear alternate;
            animation: bounceIn 2.25s linear alternate;
}
.banner7-content.style-2 .text-content .banner7-desc > *:nth-child(3) {
    -webkit-animation: bounceIn 2.5s linear alternate;
       -moz-animation: bounceIn 2.5s linear alternate;
            animation: bounceIn 2.5s linear alternate;
}
.banner7-content.style-2 .text-content .banner7-desc > *:nth-child(4) {
    -webkit-animation: bounceIn 2.75s linear alternate;
       -moz-animation: bounceIn 2.75s linear alternate;
            animation: bounceIn 2.75s linear alternate;
}
.banner7-content.style-2 .text-content .banner7-desc > *:nth-child(5) {
    -webkit-animation: bounceIn 3s linear alternate;
       -moz-animation: bounceIn 3s linear alternate;
            animation: bounceIn 3s linear alternate;
}
.banner7-content.style-2 .text-content .banner7-desc > *:nth-child(6) {
    -webkit-animation: bounceIn 3.25s linear alternate;
       -moz-animation: bounceIn 3.25s linear alternate;
            animation: bounceIn 3.25s linear alternate;
}
/* style3 */
.banner7-content.style-3 .text-content .banner7-desc > *:first-child {
    -webkit-animation: bounceInLeft 1.5s ease-in-out;
       -moz-animation: bounceInLeft 1.5s ease-in-out;
            animation: bounceInLeft 1.5s ease-in-out;
}
.banner7-content.style-3 .text-content .banner7-desc > *:nth-child(2) {
    -webkit-animation: bounceInLeft 2.1s ease-in-out;
       -moz-animation: bounceInLeft 2.1s ease-in-out;
            animation: bounceInLeft 2.1s ease-in-out;
}
.banner7-content.style-3 .text-content .banner7-desc > *:nth-child(3) {
    -webkit-animation: bounceInLeft 3s ease-in-out;
       -moz-animation: bounceInLeft 3s ease-in-out;
            animation: bounceInLeft 3s ease-in-out;
}
.banner7-content.style-3 .text-content .banner7-desc > *:nth-child(4) {
    -webkit-animation: bounceInLeft 3.6s ease-in-out;
       -moz-animation: bounceInLeft 3.6s ease-in-out;
            animation: bounceInLeft 3.6s ease-in-out;
}
.banner7-content.style-3 .text-content .banner7-desc > *:nth-child(5) {
    -webkit-animation: bounceInLeft 4.2s ease-in-out;
       -moz-animation: bounceInLeft 4.2s ease-in-out;
            animation: bounceInLeft 4.2s ease-in-out;
}
.banner7-content.style-3 .text-content .banner7-desc > *:nth-child(6) {
    -webkit-animation: bounceInLeft 4.8s ease-in-out;
       -moz-animation: bounceInLeft 4.8s ease-in-out;
            animation: bounceInLeft 4.8s ease-in-out;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    background: white;
    border: 0;
    display: none;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    height:100%;
    position:absolute;
    top:0;
    z-index: 5;
}
.nivo-box {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 5;
}
.nivo-box img {
    display:block;
}
/* SLIDER ARROWS AND DOTS
-----------------------------*/
/* slider arrow */
.nivo-directionNav a {
    background: #f7f7f9;
    border: 3px solid #e1e1e1;
    border-radius: 100%;
    color: #9e9e9e;
    display: block;
    font-size: 12px;
    height: 60px;
    line-height: 54px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 60px;
    z-index: 15;
}
.nivo-directionNav a:hover {
    background: #6DADCB;
    border-color: #6DADCB;
    color: #fff;
}
.nivo-directionNav a.nivo-prevNav {
    left: 3.88888888%;
}
.nivo-directionNav a.nivo-nextNav {
    right: 3.88888888%;
}
.oc-nivoslider:hover .nivo-directionNav a {
    opacity: 1;
}
.nivo-controlNav {
    bottom: 7%;
    left: 50%;
    padding: 0 0;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 15;
}
.nivo-controlNav:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.nivo-controlNav a {
    background: rgba(255, 255, 255, .2);
    display: block;
    float: left;
    height: 3px;
    margin: 0 10px 0 0;
    text-indent: -9999px;
    width: 25px;
}
.nivo-controlNav a:last-child {
    margin-right: 0;
}
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
    background: #fff;
}
/* SLIDER CUSTOM
-----------------------------*/
.flexslider .slide .banner7-desc {
    color: #fff;
    font-size: 14px;
    max-width: 570px;
}
.flexslider .slide .banner7-desc h4 {
    color: #fff;
    font-size: 70px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}
.flexslider .slide .banner7-desc h3 {
    color: #fff;
    font-size: 99px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}
.flexslider .slide .banner7-desc h2 {
    color: #fff;
    font-size: 99px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}
.flexslider .slide .banner7-desc a {
    background: #fff;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    color: #292929;
    display: inline-block;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 47px;
    line-height: 47px;
    margin-top: 80px;
    padding: 0 40px;
}
.flexslider .slide .banner7-desc a:hover {
    background: #6DADCB;
    color: #fff;
}

.flexslider .slide.slide1 .banner7-desc a:hover {
    background: #292929;
    color: #fff;
}

/* responsive */
@media screen and (max-width: 1599px) {
    .flexslider .nivo-caption {
        left: 5%;
        margin-top: 2%;
    }
    .flexslider .slide .banner7-desc h3 {
        font-size: 45px;
    }
    .flexslider .slide .banner7-desc h2 {
        font-size: 55px;
    }
    .flexslider .slide .banner7-desc a {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1199px) {
    .flexslider .slide .banner7-desc h3 {
        font-size: 35px;
    }
    .flexslider .slide .banner7-desc h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 991px) {
    .flexslider .nivo-caption {
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 639px) {
    .flexslider .slide .banner7-desc {
        font-size: 12px;
    }
    .flexslider .slide .banner7-desc h3 {
        font-size: 25px;
    }
    .flexslider .slide .banner7-desc h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .flexslider .slide .banner7-desc a {
        height: 35px;
        line-height: 35px;
        margin-top: 10px;
        padding: 0 25px;
    }
}
@media screen and (max-width: 479px) {
    .flexslider .slide .banner7-desc h4 {
        font-size: 15px;
    }
    .flexslider .slide .banner7-desc h3 {
        font-size: 18px;
    }
    .flexslider .slide .banner7-desc h2 {
        font-size: 20px;
    }
}
