<script type="text/javascript">
$(document).ready(function() {
$('img.lazy-load').lazyload({
effect: "fadeIn",
effectspeed: 3000,  
threshold: 100,
placeholder : "catalog/view/theme/isotop/lazyload/loading.gif"
});
});
</script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!-- Theme created by made HTML5 me, visit https://madehtml5.github.io/ for more detail. Please contact us if you need support or wish to fund our work -->
</body></html>