<button type="button" id="mob-menu"><i class="fa  fa-bars" aria-hidden="true"></i></button>
<div class="header-menu">
<button type="button" id="mob-menu-close">
<span aria-hidden="true">&times;</span>
</button>
<ul>
{% if categories %}
{% for category in categories %}
<li><a href="{{ category.href }}" class="menu-link">{{ category.name }}</a></li>
{% endfor %}
{% endif %} 
</ul>
</div>