.widget-container {
    display: block; 
    margin-top: 20px;
}
.widget-container > .ui-state-highlight {
    background: rgba(229, 249, 209, .92);
    border: #e1ffc1;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    box-shadow: 0 -1px 0 1px #2ea545;
    display: block;
    float: left;
    margin: 10px 0;
    min-height: 300px;
    padding: 10px;
    width: 100%;
}

.widget-info-group {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.widget-info-group .btn-insert,
.widget-info-group .btn-insert:active,
.widget-info-group .btn-insert:hover,
.widget-info-group .btn-insert:focus,
.widget-info-group .btn-insert:visited {
    background: #fff;
    border: 2px dashed #2ea545;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    color: #2ea545;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 25px;
}
.widget-info-group .btn-insert span {
    margin-left: 5px;
}

.widget-row {
    background: #e1ffc1;
    border: 1px solid #2ea545;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    /*cursor: grab;*/
    cursor:    -moz-grab;
    cursor: -webkit-grab;
    display: block;
    float: left;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.widget-row:active {
    /*cursor: grabbing;*/
    cursor:    -moz-grabbing;
    cursor: -webkit-grabbing;
}

.row-action {
    display: inline-block;
    padding: 10px 20px; 
    text-align: right;
    width: 100%;
}
.row-action .action-group .row-identify {
    color: #11380e; 
    display: inline;
    font-size: 13px;
    font-weight: bold;
}
.row-action .action-group .col-count {
    display: inline;
    margin: 0 30px 0 5px;
}
.row-action .action-group .a-group {
    display: inline;
}
.row-action .action-group .col-count .count {
    color: #11380e; 
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}
.row-action .action-group .form-control {
    border-radius: 20px; 
    box-shadow: inset 0 1px 1px #2ea545;
    display: inline;
    height: auto;
    line-height: inherit;
    margin-right: 10px;
    width: auto;
}
.row-action .action-group .form-control.input-class-name {
    width: 400px;
}
.row-action .action-group .col-count .col-plus::before,
.row-action .action-group .col-count .col-minus::before,
.row-action .action-group .a-column-custom::before,
.row-action .action-group .a-row-delete::before {
    font-family: FontAwesome;
    font-size: 16px;
}

.row-action .action-group .col-count .col-plus::before {
    color: #1c5c00;
    content: '\f0fe';
}
.row-action .action-group .col-count .col-minus::before {
    color: #07c82d;
    content: '\f146';
}
.row-action .action-group .a-column-custom::before {
    color: #0119c9;
    content: '\f0db';
}

.row-action .action-group .a-row-delete::before {
    color: #f00;
    content: '\f057';
    margin-left: 5px;
}

.sub-row-action {
    display: inline-block;
    padding: 10px 20px; 
    text-align: left;
    width: 100%;
}
.sub-row-action .action-group .row-identify {
    color: #11380e; 
    display: inline;
    font-size: 13px;
    font-weight: bold;
}
.sub-row-action .action-group .sub-col-count {
    display: inline;
    margin: 0 30px 0 5px;
}
.sub-row-action .action-group .a-group {
    display: inline;
}
.sub-row-action .action-group .sub-col-count .count {
    color: #11380e; 
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}
.sub-row-action .action-group .form-control {
    border-radius: 20px; 
    box-shadow: inset 0 1px 1px #2ea545;
    display: inline;
    height: auto;
    line-height: inherit;
    margin-right: 10px;
    width: auto;
}

.sub-row-action .action-group .sub-col-count .col-plus::before,
.sub-row-action .action-group .sub-col-count .col-minus::before,
.sub-row-action .action-group .a-column-custom::before,
.sub-row-action .action-group .a-row-delete::before {
    font-family: FontAwesome;
    font-size: 14px;
}

.sub-row-action .action-group .sub-col-count .col-plus::before {
    color: #1c5c00;
    content: '\f0fe';
}
.sub-row-action .action-group .sub-col-count .col-minus::before {
    color: #07c82d;
    content: '\f146';
}
.sub-row-action .action-group .a-column-custom::before {
    color: #0119c9;
    content: '\f0db';
}

.sub-row-action .action-group .a-row-delete::before {
    color: #f00;
    content: '\f057';
    margin-left: 5px;
}

.row-content {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
}
.row-content .col-action {
    float: left;
    margin-bottom: 5px; 
    text-align: center;
    width: 100%;
}
.row-content .column-area {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row-content .droparea {
    border: dashed 2px #2ea545;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    min-height: 45px;
    padding: 5px 10px;
    width: 100%;
}
.row-content .droparea .ui-state-highlight {
    background: rgba(229, 249, 209, .92);
    border: #e1ffc1;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: -2px -1px 0 1px #2ea545;
    display: block;
    float: left;
    margin: 10px 0;
    min-height: 40px;
    padding: 10px;
    width: 100%;
}
.row-content .text-insert-module {
    padding: 5px 0; 
    text-align: center;
}
.row-content .text-insert-module span {
    color: #74c280;
    font-size: 13px;
    font-weight: bold; ;
}
.row-content .main-column {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.row-content .main-column .a-sub-row-add {
    font-size: 13px;
    font-weight: bolder;
}
.row-content .main-column .main-col-content {
    margin-top: 5px;
}
.row-content .main-column .sub-row {
    border: 1px #2ea545 dotted;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.layout-module-info {
    background-color: #b7f8ad;
    border: solid 1px #2ea545;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    float: left;
    height: auto;
    margin: 5px 0;
    text-align: left;
    width: 100%;
}
.layout-module-info:hover,
.layout-module-info:active,
.layout-module-info:focus {
    cursor: move;
}
.layout-module-info .top .module-info {
    position: relative;
}
.layout-module-info .top .module-info p {
    color: #11380e;
    font-size: 12px; 
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layout-module-info .top .module-info p::before {
    color: #11380e;
    content: '\f1b3';
    font-family: FontAwesome;
    font-size: 10px;
    padding-right: 5px;
}
.layout-module-info .top {
    padding: 10px;
}
.btn-remove,
.btn-edit {
    float: right; 
    font-size: 0;
}
.btn-remove::before,
.btn-edit:before {
    font-family: FontAwesome;
    font-size: 13px;
    position: absolute; 
    top: 0;
}
.btn-remove::before {
    color: #f00;
    content: '\f057';
    right: 0;
}
.btn-edit::before {
    color: #1e91cf;
    content: '\f085';
    right: 15px;
}
.col-sm-5 .layout-module-info .top .module-info p,
.col-sm-4 .layout-module-info .top .module-info p,
.col-sm-3 .layout-module-info .top .module-info p {
    width: 80%;
}
.col-sm-2 .layout-module-info .top .module-info p {
    width: 50%;
}
.col-sm-2 .layout-module-info .top .module-info p::before,
.col-sm-1 .layout-module-info .top .module-info p::before {
    display: none;
}

.all-modules-container {
    background: #e1ffc1;
    border: 1px double #3d5a8f;
    display: none;
    height: 80%;
    left: 10%;
    overflow: auto;
    padding: 5px 0;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 1200;
}

.modules-container {
    display: inline-block;
}

.modules-btn-group {
    display: inline-block;
    float: right;
    margin-bottom: 20px;
}

.btn-choose-module,
.btn-choose-module:active,
.btn-choose-module:focus {
    background-color: #b7f8ad;
    border: solid 1px #2ea545;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    float: left;
    height: 70px;
    margin: 5px 0;
    width: 100%;
}
.btn-choose-module:hover {
    background-color: #189000;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    float: left;
    height: 70px;
    margin: 5px 0;
    width: 100%;
}
.btn-choose-module span {
    font-size: 13px;
    white-space: normal;
}

.popup-background {
    background-color : rgba(0,0,0,.35);
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100;
}
.popup-loader-img {
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 1110;
}
.popup-container {
    background-color: #fff;
    border: solid 1px #d8d8d8;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .84);
    display: none;
    height: 80%;
    left: 10%;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 1110;
}
.popup-container #module-frame {
    border: none;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    height: 400px;
    width: 100%;
}
.popup-btn-group {
    border-top: 1px solid #d8d8d8;
    margin: 20px;
}
.btn-close,
.btn-close:active,
.btn-close:focus {
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ff003f;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #ff003f;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-close:hover {
    background-color: #ff003f;
    color: #fff;
}
