/* BLOG PAGE
-----------------------------*/
.blog-page .post {
    margin-bottom: 45px;
}
.blog-page .post .post-title {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.blog-page .post .post-title a {
    color: #292929;
}
.blog-page .post .post-title a:hover {
    color: #ba9f74;
}
.blog-page .post .post-meta {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #787878;
    font-size: .93em;
    margin: 0 0 20px 0;
    padding: 6px 0;
}
.blog-page .post .post-button {
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}
.blog-page .post .post-button:hover {
    color: #ba9f74;
}
/* SINGLE POST
-----------------------------*/
.single-post {
    display: block;
}
.single-post .post .post-title {
    font-size: 35px;
    margin: 0 0 10px 0;
    text-align: center;
}
.single-post .post {
    display: block;
}
.single-post .post .post-meta {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #787878;
    font-size: .87em;
    margin: 0 0 50px 0;
    padding: 6px 0;
    text-align: center;
}
.single-post .post .post-thumb {
    margin-bottom: 30px;
    text-align: center;
}