<div class="modal fade" tabindex="-1" id="searchmodal" role="dialog" >
  <div class="modal-dialog modal-block" role="document">
  <button type="button" data-dismiss="modal" aria-label="close" class="modal-close"><span aria-hidden="true">&times;</span></button>
    <div class="menu-modal" id="search">
<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}"  />
<button type="button" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
    </div>
  </div>
</div>